<div>
    <h1>routeguards</h1>
    <h2>CanActivate</h2>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/qnCBOHEkdMc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<h2>CanActivateChild</h2>
<iframe width="560" height="315" src="https://www.youtube.com/embed/-8ZbF8XfgyY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<h2>CanDeactivate</h2>
<iframe width="560" height="315" src="https://www.youtube.com/embed/E94hPPfi78k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<h2>Resolve</h2>
<iframe width="560" height="315" src="https://www.youtube.com/embed/sJdxjGTD094" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>
