<h1>Directives</h1>
<p>Angular templates are dynamic. When Angular renders them, it transforms the DOM according to the instructions given by directives. A directive is a class with a @Directive() decorator.</p>
<h2>Types</h2>
<ol>
    <li>Structural Directives</li>
    <p>Structural directives alter layout by adding, removing, and replacing elements in the DOM. example: ngFor, ngClass, ngIf </p>
    <li>Attribute Directive</li>
    <p>Attribute directives alter the appearance or behavior of an existing element.</p>
</ol>